/* filepath: c:\Users\pramo\Desktop\sdp dev\RepairMangment_FrontEnd\src\index.css */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Optional: Reset styles for all elements */
* {
    font-family: 'Poppins', sans-serif;
}


